.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.experience-form {
  width: 100%;
  max-width: 600px;
}

.experience-card {
  margin: 10px;
  padding: 20px;
  background-color: rgb(238, 236, 246);
  border-radius: 8px;
}

.experience-card-content {
  display: flex;
  flex-direction: column;
}

.experience-card-actions {
  display: flex;
  justify-content: flex-end;
}

.experience-deleteButton {
  margin-left: auto;
}

@media (max-width: 768px) {
  .experience-card {
    width: 100%;
  }
}
