.events-container {
    padding: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:  rgb(238, 236, 246);
    transition: background-color 0.3s;
  }
  .event-card:hover {
    background-color: rgba(0, 0, 0, 0.05); 
  }
  
  .event-card-content {
    flex-grow: 1;
  }
  
  .event-image {
    width: 100%;
    height: auto;
  }
  .event-title {
    font-size: 24px; /* Adjust the font size */
    margin-bottom: 10px;
  }
  